<div class="main">
  <h1>Please login to the Turing Salary Share:</h1>
    <%= form_for :session, url: login_path, id: "submit" do |f| %>
      <%= f.text_field :username, placeholder: "Username" %>
      <%= f.password_field :password, placeholder: "Password"  %>
      <%= f.submit 'Click to log in', id: "submit", class: "button" %>
    <% end %>
</div>
