<div class="user_information">

<p>
<h1>Enter your information to create an account in the Turing Salary Share:</h1>
<%= render "form" %>
<br>
</p>

<%= link_to "Already have an account? Login here", login_path %>

</div>
