/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: sans-serif;
  max-width: 800px;
  margin: auto;

}

.main{
  padding: 25px;
  background-color: dimgrey;
  align-items: center;

}

.new_user {
  width: 350px;
  margin: auto;
}

.login-header {
  padding: 30px;
}

.login-header a {
  float: right;
}

a {
  text-decoration: none;
}

a:hover{
  color:turquoise
}

h1 {
  color: ivory;
}

input {
  font-size: 1em;
  padding:0px;
  padding-left: 5px;
  width: 300px;
  height: 3em;
  border: none;
  margin: 5px;
}

.button {
  border-radius: 0;
  border: none;
  background-color: ivory;
  color: black;
  font-size: 1em;
  font-weight: bold;
}

.button:hover {
  background-color: turquoise;
}
